.ivu-modal-content,
.ivu-input,
.ivu-select-selection,
.ivu-input-number-input,
.ivu-input-number,
.ivu-btn{
    border-radius: 0;
}
.vertical-center-modal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-center-modal .ivu-modal{
    top: 0;
}
.ivu-page-options-elevator input{
    height: 30px;
}
.u-table-add{
    text-align: right;
}
.u-table-filter{
    margin: 10px 0;
}
.u-table-filter .ivu-tag{
    padding: 0 20px;
    background: #f8f8f9;
    border: 1px solid #e9eaec;
    border-radius: 0;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    color: #333;
}
.u-table-filter .ivu-tag.active{
    background: #eee;
}
.u-table-page{
    margin: 15px 0 0;
    overflow: hidden;
}
.u-modalAddData label{
    text-align: right;
    width: 100%;
    display: inline-block;
    font-size: 14px;
    line-height: 40px;
    padding: 0 10px;
}
.u-modalAddData .ivu-input,
.u-modalAddData .ivu-select-selection,
.u-modalAddData .ivu-select-input{
    line-height: 40px;
    height: 40px;
    font-size: 14px;
}
.u-modalAddData .ivu-col{
    margin: 5px 0;
}
.loader {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
}
.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;
    stroke-linecap: round;
}
@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}
@keyframes color {
    0%, 100% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%, 90% {
        stroke: #ffa700;
    }
}


.type-img{
    width: 60px;
    height: 60px;
    display: inline-block;
}
.type-img.word{
    background: url("../images/word.png");
}
.type-img.excel{
    background: url("../images/excel.png");
}
.type-img.ppt{
    background: url("../images/powerpoint.png");
}
.type-img.pdf{
    background: url("../images/pdf.png");
}
.type-img.other{
    background: url("../images/other.png");
}
.ivu-loading-bar-inner-color-primary{
    background: #19be6b;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  {  
    width: 8px;  
    height: 16px;  
    background-color: #f0f0f0;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  {  
    box-shadow: inset 0 0 4px rgba(58, 58, 58, 0.2);  
    border-radius: 3px;  
    background-color: #f0f0f0;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb {  
    border-radius: 3px;  
    box-shadow: inset 0 0 4px rgba(58, 58, 58, 0.2);  
    background-color: #cecece; 
}  